.breadcrumbs {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1000px;
  width: 90%;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.05), #10b981;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "cairo", sans-serif;
  overflow-x: auto;
  scrollbar-width: none;
  z-index: 1200;
}

.breadcrumbs::-webkit-scrollbar {
  display: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 8px;
  opacity: 0.85;
  transition: 0.3s;
}

.breadcrumbs .current {
  color: yellow;
  font-weight: bold;
  padding-bottom: 2px;
}

.back-btn:hover {
  background: #ffca28;
}

/* خلفية شفافة للمودال*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* صندوق المودال */
.modal-box {
  background: #fff;
  padding: 1.5rem;
  border-radius: 16px;
  width: 90%;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  animation: scaleIn 0.25s ease;
  font-family: "Tajawal", sans-serif;
}

/* العنوان */
.modal-box h3 {
  margin-top: 0;
  color: #dc3545;
  font-family: "Cairo", sans-serif;
}

/* الرسالة */
.modal-box p {
  color: #555;
  margin: 1rem 0;
  line-height: 1.6;
}

/* زر */
.modal-box button {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* أنيميشن */
@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.cash-item {
  background: linear-gradient(135deg,#1d4ed8,#2563eb);
  color: black;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.6;
  border-bottom: 2px solid white;
}


/* البادج */
.cash-badge {
  background: linear-gradient(135deg, #1d4ed8, #2563eb);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
  margin-right: 6px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

/* منع سكرول الصفحة خلف القائمة الجانبية */
.sidebar {
  overflow-y: auto;
  overscroll-behavior: contain;

  -webkit-overflow-scrolling: touch;
}

body.no-scroll {
  overflow: hidden;
}

/* Chrome, Safari, Opera for placeholders*/
input::placeholder {
  color: #ffffff;   /* لون أبيض */
  opacity: 1;       /* لازم للتأكد من ظهور اللون */
}

/* Firefox 19+ */
input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

/* Firefox 4 - 18 */
input:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

/* Internet Explorer 10+ */
input:-ms-input-placeholder {
  color: #ffffff;
}

/* Edge */
input::-ms-input-placeholder {
  color: #ffffff;
}
